body {
    margin: 0;
    color: white;
    text-align: left;
    background-image: url('20230212_210205_0000.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman';
}

.salam {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.carousel-container {
    width: 120%;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    transition: transform 2s ease;
}

.gmbr {
    flex: 0 0 33.33%;
    padding: 10px;
    margin-top: 100px;
    margin-left: 5px;
    box-sizing: border-box;
}

.gmbr img {
    width: 300%; 
    height: auto;
    object-fit: cover; 
}

.prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: palegreen; 
}

.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: palegreen; 
}

.prev {
    left: 0px;
    margin-top: 70px;
}

.next {
    right: 30px; 
    margin-top: 70px;
    margin-left: 300px;
}

.navigasi {
    position: fixed;
    width: 100%;
    background-color: #6495ED;
    padding: 15px;
    display: flex;
    align-items: center;
}

.link {
    display: block;
    padding: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.texts {
    color: whitesmoke;
    text-decoration: none;
    font-size: 30px;
    margin-right: 700px;
    margin-left: 40px;
    padding: 15px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.konten{
    display: none;
    position: absolute;
    background-color: #90A4AE;
    min-width: 130px;
    border-radius: 5px;
}

.konten a {
    color: white;
    font-size: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.konten a:hover {
    background-color: palevioletred;
}
.navigasi a:hover {
    background-color: palevioletred;
}
.dropdown a:hover {
    background-color: palevioletred;
}
.dropdown:hover .konten {
    display: block;
}

.home {
    text-align: center;
    padding-top: 10px;
    color: white;
}

.home .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home h1 {
    margin-bottom: 33px;
}

.home p {
    margin-bottom: 33px;
}

.home button {
    background-color: palevioletred;
    color: black;
    padding: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 8px 10px purple;
    cursor: pointer;
    font-weight: bold;
}

.home button:hover {
    background-color: purple;
    box-shadow: 0 4px 6px plum;
}

section {
    text-align: center;
    padding: 50px 0;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: center;
}

.video {
    padding-top: 330px;
}

.Link-audio {
    border-radius: 20px;
    overflow: hidden;
    background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.carousel-container {
    height: 400px;
    width: 500px;
}
.carousel {
    height: 400px;
    width: 500px;
}

.music1{
    padding: 20px;
    flex: 1;
}
.music2{
    padding: 20px;
    flex: 1;
}
.music3{
    padding: 20px;
    flex: 1;
}
.music4{
    padding: 20px;
    flex: 1;
}
.music5 {
    padding: 20px;
    flex: 1;
}

.row-gambar {
    display: flex;
    justify-content: center;
}

.row-video {
    padding-top: 10px;
}

.img1{
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}
.img2{
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}
.img3 {
    flex: 1;
    margin: 0 10px;
    box-sizing: border-box;
}

.img1 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.img2 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.img3 img {
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
h1 {
    font-size: 60px;
    padding-top: 100px;
    text-align: center;
}

.circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: #6495ED;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
    margin: 20px;
    transition: transform 0.3s ease;
}

.circle:hover {
    transform: scale(1.1);
}

h2 {
    font-size: 50px;
    color: palevioletred;
    text-shadow: 2px 2px 4px purple;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 40px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    color: palevioletred;
}

p {
    font-size: 20px;
    margin-top: 80px;
}

.footer {
    background-color:#6495ED;
    color: #fff;
    padding: 5px 0;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.footer1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sosmed {
    margin-top: 10px;
}

.sosmed a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    font-size: 30px;
}

.sosmed a:hover {
    color: purple;
}
